<!--Abdul Shukor
   StudentID:300919831
   Date:2019-03-30-->
<div class="container">
    <div class="jumbotron">
      <br>
      <img src="\assets\images\abdulshukor.jpg" />

      <p class="lead">
        <br>
        Hi there! I’m Abdul Shukor from Toronto, Canada. I have done  a <strong>software engineering technology </strong>three years program at
          Centennial College with an
           <strong>honours designation</strong>. Besides, I am <strong> ISTQB Certified Tester</strong> and <strong> ISTQB Agile Extension Certified Tester</strong>.
           I am pursuing a Bachelor of Computer Science (Honours) at Ryerson University, Toronto.
           I am a dedicated, detail-oriented, and skilled Software Test Engineer with more than 1-year experience in Automation and Manual
Testing. I am a passionate individual who is driven by curiosity and a desire to learn, embracing
           inclusion and committed to leading high performing teams in a culture of excellence with integrity and has a
           practical approach to problem-solving and a drive to see things through to completion. Besides, I am a fast
           learner and an excellent listener. I have good analytical, communication, interpersonal skills, an excellent team player, and I am a very social, friendly, and respectful person toward others.

      </p>
      <h4 class="display-6">Professional Certificates &nbsp;<i class="fa fa-certificate" aria-hidden="true"></i></h4>
         <ol>
          <li><strong>ISTQB Certified Tester, CTFL (2019)</strong>
          </li>
          <li><strong>ISTQB Agile Extension Certified Tester (2019)</strong></li>
        </ol>

      <p class="lead">
        <strong>      My technical strengths including, but not limited to the following
        </strong>

     </p>
<!--
     <ul><strong>
        <li>AWS Development: EC2, Lambda, Elastic Beanstalk, S3, RDS, DynamoDB, Route 53, IAM, CloudWatch </li>
        <li>Languages & Scripting languages: Java Scripting, Core Java, C#, .Net Core, Asp.net, Angular, JavaScript, TypeScript, Node.js,
      Express.js and SQL
      <li>Web Technologies: Bootstrap, HTML5, XML, CSS, DOM</li>
    <li> Restful API Development and Testing: XML, JSON, Swagger, Postman</li>
    <li>Databases: Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server, MongoDB </li>

    <li>Automation Testing: Selenium Web Driver, Selenium Grid, JUnit, Maven, TestNG, Jenkins, Cucumber, QTP, Postman and JSON </li>
     <li> Web Testing tools: Firebug, Chropath, Xpath, DOM Inspector</li>
     <li>Testing & Management tools: JIRA, Confluence</li>
     <li> Software Methodologies: Agile Scrum, Waterfall, and UML language skills</li>
     <li>Web Application Security: Software Security, Security Strategies in Web Applications.</li>
     <li> Version Control: Git</li>
     <li> Apigee Edge: API Proxy, API Traffic management, Drupal Developer Portal,
      Authentication, API analytics, MicroGateway, and API Security </li>
      <li>Operating Systems: Windows, UNIX, Mac, MS-DOS</li>
    <li> Basics of Computer Networking </li>
    <li>Project Management: WBS, Budget and Schedule, Stakeholders Management Plan, Quality Management Plan,
      Risk Management Plan</li>
      <li>Microsoft Office: MS Word, MS Excel, MS PowerPoint, MS Access</li>
    <li>Development and Automation Testing Tools: Microsoft Expression Web, Visual Studio, Visual Studio Code, Android Studio,
    Eclipse, Visual Paradigm, Visio, IntelliJ</li>
  </strong>
  </ul>

-->




          <!--<div class="container table-responsive">
          &nbsp;
              <h4>Some of the major courses that I have studied at Centennial College.</h4>
              &nbsp;
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Course Title</th>
                    <th>Course Title</th>
                    <th>Course Title</th>
                    <th>Course Title</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Programming 1 </td>
                    <td> Software Engineering Fundament </td>
                    <td> Web Interface Design </td>
                    <td> Introduction To Database </td>

                  </tr>
                  <tr>
                    <td> Programming 2 </td>
                    <td> Client-Side Web Development </td>
                    <td> Software Engineering Methodologies I </td>
                    <td> Unix/Linux Operating Systems </td>

                  </tr>
                  <tr>
                    <td> Advanced Database Concepts </td>
                    <td> Java Programming </td>
                    <td> Web Application Development </td>
                    <td> Object-Oriented Software Engineering </td>

                  </tr>
                  <tr>
                      <td> Adv. Bus. Communications </td>
                      <td> Software Development Project 1</td>
                      <td> Java EE Programming </td>
                      <td> API Engineering & Cloud Comp </td>

                    </tr>
                    <tr>
                        <td> Software Testing & Quality </td>
                        <td> Fundamentals of Comp Networks </td>
                        <td> IT Project Management </td>
                        <td> Business and ICT </td>

                      </tr>
                      <tr>
                          <td> Programming 3 </td>
                          <td> Mobile Application Development </td>
                          <td> Software Security </td>
                          <td> Data Warehouse & Mining – HCIS </td>

                        </tr>
                        <tr>
                            <td> Clinical Workflow & IT Solutions </td>
                            <td> Data Structures and Algorithms </td>
                            <td> Emerging Technologies </td>
                            <td> Software Development Project 2 </td>
                          </tr>
                          <tr>
                              <td> Systems Integration </td>

                            </tr>
                </tbody>
              </table>
            </div>
          -->


                <div class="card-deck">
                    <div class="card">
                     <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                      <div class="card-body">
                        <h5 class="card-header text-center text-white bg-dark">AWS Development</h5>
                        <p class="card-text lead"> EC2, Lambda, Elastic Beanstalk, S3, RDS, DynamoDB, IAM, CloudWatch </p>
                      </div>
                    </div>
                    <div class="card">
                     <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                     <div class="card-body">
                        <h5 class="card-header text-center text-white bg-dark">Languages </h5>
                        <p class="card-text lead">Core Java, C#, .Net Core, Asp.net, Angular, JavaScript, TypeScript, Node.js,
                          Express.js, SQL</p>
                      </div>
                    </div>
                    <div class="card">
                     <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                     <div class="card-body">
                        <h5 class="card-header text-center text-white bg-dark"> Web Technologies </h5>
                        <p class="card-text lead">  Bootstrap, HTML5, XML, CSS, DOM
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-deck">
                      <div class="card">
                     <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                     <div class="card-body">
                          <h5 class="card-header text-center text-white bg-dark"> Restful API Development and Testing </h5>
                          <p class="card-text lead"> XML, JSON, Swagger, Postman,Newman
                          </p>
                        </div>
                      </div>
                      <div class="card">
                     <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                     <div class="card-body">
                          <h5 class="card-header text-center text-white bg-dark">Databases</h5>
                          <p class="card-text lead">  Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server, MongoDB
                          </p>
                        </div>
                      </div>
                      <div class="card">
                     <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                     <div class="card-body">
                          <h5 class="card-header text-center text-white bg-dark">Web Application Security </h5>
                          <p class="card-text lead"> Software Security, Security Strategies in Web Applications.</p>
                        </div>
                      </div>


                    </div>

        <!-- second -->

        <div class="card-deck">
          <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-header text-center text-white bg-dark">Automation Testing</h5>
              <p class="card-text lead"> Selenium Web Driver, Selenium Grid, JUnit, Maven, TestNG, Jenkins, Cucumber, QTP, Postman, JSON
              </p>
            </div>
          </div>

          <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
              <h5 class="card-header text-center text-white bg-dark"> Software Methodologies</h5>
              <p class="card-text lead">  Agile Scrum, Waterfall, UML language skills
              </p>
            </div>
          </div>
          <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
              <h5 class="card-header text-center text-white bg-dark">Testing & Management tools </h5>
              <p class="card-text lead">JIRA, Confluence
              </p>
          </div>
          </div>
        </div>


        <div class="card-deck">
          <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-header text-center text-white bg-dark">Version Control</h5>
              <p class="card-text lead">Git</p>
            </div>
          </div>
          <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
              <h5 class="card-header text-center text-white bg-dark">Apigee Edge </h5>
              <p class="card-text lead">Apigee Edge: API Proxy, API Traffic management, Drupal Developer Portal, Authentication, API analytics, MicroGateway, and API Security </p>
            </div>
          </div>
          <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
              <h5 class="card-header text-center text-white bg-dark"> Operating Systems  </h5>
              <p class="card-text lead"> Operating Systems: Windows, UNIX, Mac, MS-DOS
              </p>
            </div>
          </div>
        </div>
        <div class="card-deck">
            <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
                <h5 class="card-header text-center text-white bg-dark"> Microsoft Office </h5>
                <p class="card-text lead">  MS Word, MS Excel, MS PowerPoint, MS Access
                </p>
              </div>
            </div>
            <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
                <h5 class="card-header text-center text-white bg-dark">Computer Networking </h5>
                <p class="card-text lead">  Basics of Computer Networking
                </p>
              </div>
            </div>
            <div class="card">
           <!--<img class="card-img-top" src="..." alt="Card image cap">-->
           <div class="card-body">
                <h5 class="card-header text-center text-white bg-dark">Development and Automation Testing Tools </h5>
                <p class="card-text lead">  Microsoft Expression Web, Visual Studio, Visual Studio Code, Android Studio, Eclipse, Visual Paradigm, Visio, IntelliJ</p>
              </div>
            </div>


          </div>

<!-- second -->







     <!--the button for downloading my resume-->
<!--<h4>Download my updated resume</h4>
<a href="/assets/documents/Abdul Shukor.pdf" download><button class="btn btn-outline-primary"><i class="fa fa-download"></i>&nbsp; Resume</button></a>
<hr class="my-9" />-->
  </div>
</div>


