<!--Abdul Shukor
   StudentID:300919831
   Date:2019-03-30-->
<div class="container">
    <div class="jumbotron">
      <img src="\assets\images\abdulshukor.jpg" />

      <p class="lead">
        <br>
        Hi there! I’m Abdul Shukor from Toronto, Canada. I have done  software engineering technology three years program at
          Centennial College. I  graduated  in 2019-04 with
           honours designation. In addition, I am ISTQB Certfied Tester. I am a passionate individual who is driven by curiosity and a desire to learn, embracing
           inclusion and committed to leading high performing teams in a culture of excellence with integrity and has a
           practical approach to problem-solving and a drive to see things through to completion. Besides, I am a fast
           learner and an excellent listener. I have excellent interpersonal and communication skills and I am a very
           social, friendly and respectful person toward others.

      </p>
      <p class="lead">
          I have done several academic projects throughout the program in the Centennial College, some of them I listed in the Projects page. During the
          program and implementation of these projects I obtained knowledge on the following Technical skills.

     </p>


    <li>Web Application and Android App Development: C#, Asp.net, .Net Core 2.1, JavaScript,
      Typescript, Java, HTML5/XML, JSON, CSS, Bootstrap, Web API,Restful API, Swagger, Postman, Agile Methodologies, and UML language skills.
    </li>
    <li>Web API, Restful API, Swagger, Postman</li>
    <li> Apigee Edge: API Proxy, API Traffic management, Drupal Developer Portal,
      Authentication, API analytics, MicroGateway, and API Security. </li>
    <li>Databases: Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server.</li>
    <li>AWS development: EC2, Lambda, Elastic Beanstalk, S3, RDS, DynamoDB, Route 53, IAM, CloudWatch.</li>
    <li>Business Intelligence: Data Mining, SSIS, SSRS, SSAS, ETL.</li>
    <li>Web Application Security: Software Security, Security Strategies in Web Applications.</li>
    <li>Microsoft Office: Excel, Word, PowerPoint, Access. </li>
    <li>Software Testing & Quality: Selenium, TestNG, Maven, Jenkins.</li>
    <li> Software Methodologies: Agile Methodologies and UML language skills.</li>
    <li>Operating Systems: Unix/Linux, Windows.</li>
    <li> Version Control: Git, GitHub.</li>
    <li> Basics of Computer Networking. </li>
    <li>Statistical Analysis System (SAS).</li>
    <li>Project Management: WBS, Budget and Schedule, Stakeholders Management Plan, Quality Management Plan,
      Risk Management Plan.</li>
    <li>Development Tools: Microsoft Expression Web, Visual Studio, Visual Studio Code, Android Studio,
    Eclipse, Visual Paradigm, Visio, IntelliJ.</li>
    <li>Microsoft office: MS Word, MS Excel, MS PowerPoint, MS Access</li>
    <li>JIRA</li>



     <h5 class="display-6">I have done some professional online courses form Udemy.com.</h5>
         <ol>
          <li><strong>ISTQB Certified Tester (July. 2019)</strong></li>
          <li>C# (Completed, Dec. 2017)</li>
          <li>Oracle SQL (Completed,  May. 2017)</li>
          <li>Oracle PL/SQL (Completed, Nov. 2017)</li>
          <li>Java (Completed, Feb. 2019)</li>
          <li>Selenium WebDriver with Java - Basics to Advanced (Completed,  Aug. 2018) </li>
          <li>Data Structure and Algorithms (using Java) (Completed Apr. 2019)</li>
        </ol>
     <!--the button for downloading my resume-->
<h5>Download my updated resume</h5>
<a href="/assets/documents/abdul_shukor_resume.pdf" download><button class="btn btn-outline-primary"><i class="fa fa-download"></i>&nbsp; Resume</button></a>
<hr class="my-9" />
  </div>
</div>
