<!--Abdul Shukor
   StudentID:300919831
   Date:2019-03-30-->
<div class="container">
  <div class="jumbotron">
    <br>

    <div class="alert  alert-secondary" role="alert">
      <h4>1. Flash Chat App</h4>
    </div>
    <img src="\assets\images\andriod.jpg" class="img-fluid" alt="Responsive image" />

    <p class="lead">
      <br>
      I created a Flash Chat app, which is a real massaging app like WhatsApp or Facebook messenger. For creating this
      app, I used Java, XML, and google Firebase database for storing user SMS and credentials. I developed this app
      using the android studio. I
      developed this project by myself and the purpose of this app to create something comparable to Facebook massager.
    </p>
    <div class="alert  alert-secondary" role="alert">
      <h4>2. WorkForce API </h4>
    </div>
    <!-- fluid make images responsive for differnt types of screen-->

    <img src="\assets\images\workforce.jpg" class="img-fluid" alt="Responsive image" />

    <p class="lead">
      <br>
      Developed WorkForce web API for current and graduated students who are looking for a job. The WorkForce API is
securely accessing student’s data from the AWS-RDS database. The potential customer of the WorkForce is an employer.
The API can be consumed for many different purposes for desktop and web applications. For developing the WorkForce, I
used, C#.Net Core2.1, AWS-RDS, swagger, JSON, XML, Postman, Apigee API management platform, and hosted on AWS
Elastic Beanstalk.
    </p>

    <div class="alert  alert-secondary" role="alert">
      <h4>3. eAppointment </h4>
    </div>

    <h5> ERD Diagram</h5><br>
    <!-- fluid make images responsive for differnt types of screen-->

    <img src="\assets\images\ERDeAppointment.jpg" class="img-fluid" alt="Responsive image" />
    <h5> Domain Class Diagram</h5><br>
    <!-- fluid make images responsive for differnt types of screen-->

    <img src="\assets\images\domainCD.jpg" class="img-fluid" alt="Responsive image" />

    <p class="lead">
      <br>
      It was a software development project, designed for an online doctor appointment application with
      eight subsystems which will enable users to find the nearest doctors and at the earliest possible time to
      set doctor’s appointments. Using, UML Language, and Agile methodology. It was a group project and my role was
      creating use case diagram, use case description, ERD diagram, and domain class diagram.
    </p>


    <div class="alert  alert-secondary" role="alert">
      <h4>4. Favorite Books</h4>
    </div>
    <img src="\assets\images\books.jpg" class="img-fluid" alt="Responsive image" />

    <p class="lead">
      <br>
      Designed and developed a favorite book web application with user authentication. The purpose of the application is to
create a favorite book list of a user. For adding a book to the list, a user must first register with the app and then can log
in to the application. The user identification will be checked by the app while logging. A user can perform CRUD operation
on their book list. For developing the app, I used, node.js, express, ejs, mLab, CSS, Bootstrap, Git, GitHub, and hosted on
herokuapp.com.
      <br>
      <strong>Project URL:</strong>
      <br>
      <strong>comp308w2019midterm30091983.herokuapp.com</strong>

    </p>
     <br>
     <div class="alert  alert-secondary" role="alert">
    <h4>5. Selenium automated framework:</h4>
    </div>

    <p class="lead">
      Created an automated test framework from scratch for qaclickacademy.com. The purpose was to discover bugs in the
application by using the selenium web driver. Implemented the Page Object mechanism to drive test cases and created
parameterized test cases with multiple data with TestNG and did the cross-browser testing. Validated test cases through
assertion and generated HTML reports on test execution. For developing the frame, I used, Maven, TestNG, Jinkins, Log4j,
and selenium web driver.

    </p>
    <hr class="my-9" />
  </div>


</div>
