<div class="container">
    <div class="jumbotron">
        <br>
        <br>


        <div class="card-deck">
            <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-header text-center text-white bg-dark">STLC SUPPORT</h5>
                <p class="card-text lead"> High software quality on every step of the software engineering process. </p>
              </div>
            </div>
            <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                <h5 class="card-header text-center text-white bg-dark">MANUAL TESTING  </h5>
                <p class="card-text lead">your software application is fully-compliant with defined business requirements.</p>
              </div>
            </div>
            <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                <h5 class="card-header text-center text-white bg-dark"> TEST AUTOMATION  </h5>
                <p class="card-text lead"> Help you to automate your testing needs with core expertise on all industry-leading tools like Selenium, QTP, etc.
                </p>
              </div>
            </div>
          </div>
          <div class="card-deck">
              <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                  <h5 class="card-header text-center text-white bg-dark"> SECURITY TESTING </h5>
                  <p class="card-text lead">Testing to ensure the application is secure against any vulnerability and SQL Injections.
                  </p>
                </div>
              </div>
              <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                  <h5 class="card-header text-center text-white bg-dark">USABILITY TESTING </h5>
                  <p class="card-text lead"> Identify all the usability issues before the application is released to the end-users.
                  </p>
                </div>
              </div>
              <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                  <h5 class="card-header text-center text-white bg-dark">REST API TESTING </h5>
                  <p class="card-text lead"> Testing Rest API with Postman.</p>
                </div>
              </div>


            </div>

<!-- second -->

<div class="card-deck">
  <div class="card">
   <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-header text-center text-white bg-dark"> PERFORMANCE TESTING </h5>
      <p class="card-text lead">Testing for Speed, Stability, and Scalability to ensure the application performs well under stress and peak load.
      </p>
    </div>
  </div>

  <div class="card">
   <!--<img class="card-img-top" src="..." alt="Card image cap">-->
   <div class="card-body">
      <h5 class="card-header text-center text-white bg-dark"> MOBILE TESTING </h5>
      <p class="card-text lead"> Automation testing with an industry-leading tool like Appium.
      </p>
    </div>
  </div>
  <div class="card">
   <!--<img class="card-img-top" src="..." alt="Card image cap">-->
   <div class="card-body">
      <h5 class="card-header text-center text-white bg-dark">TESTING FRAMEWORK </h5>
      <p class="card-text lead">Data-Driven Framework, KeyWord Framework, Hybrid Framework, Page Object Model Framework.
      </p>
  </div>
  </div>
</div>


    </div>
</div>
