<div class="container">
    <div class="jumbotron">
        <br>
        <br>


        <div class="card-deck">
            <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">Full STLC SUPPORT</h5>
                <p class="card-text"> Achive high software qaulity on every step of the software engineering process.</p>
              </div>
            </div>
            <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                <h5 class="card-title">MANUAL TESTING </h5>
                <p class="card-text"> Ensure your software application is fully-compliant with defined business requirements.</p>
              </div>
            </div>
            <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                <h5 class="card-title">TEST AUTOMATION</h5>
                <p class="card-text">Help you to automate your testing needs with core expertise on all
                  industy-leading tools like Selenium,QTP,etc.</p>
              </div>
            </div>
          </div>
          <div class="card-deck">
              <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                  <h5 class="card-title">SECURITY TESTING</h5>
                  <p class="card-text">Testing to ensure the application are secure against any valnerability and sql Injections.</p>
                </div>
              </div>
              <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                  <h5 class="card-title">USABILITY TESTING</h5>
                  <p class="card-text">Identifiy all the usability issues begore the application is released
                    to the end-users.</p>
                </div>
              </div>
              <div class="card">
             <!--<img class="card-img-top" src="..." alt="Card image cap">-->
             <div class="card-body">
                  <h5 class="card-title">REST API TESTIGN </h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>



    </div>
</div>
